body {
    margin-top: auto;
    text-align: center;
    color: #b89a9a;
}

.titulo {
    margin-top: 5%;
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-left: 120px;
}
.caja {
    margin-top: 5%;
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-left: 120px;
}
.entrada {
    margin-top: 5%;
    text-align: center;
    color: #805e5e;
    font-size: 28px;
    margin-left: 120px;
}
#contenedor{
    background-color: antiquewhite;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding-bottom: 30px;
}